doctype 5
html(lang="en")
  head

  body
    h1 Conference Name
      
    label(for='speaker-name')
      | Speaker name:
      input(id='speaker-name')

    label(for='presentation-name')
      | Presentation name:
      input(id='presentation-name')

    label(for='description')
      | Description:
      textarea(id='description')

    label(for='link')
      | Link to PDF:
      input(id='link')

    button
      | submit