title = 'speaker sign up'
include includes/head
include css/presentation.css

body
  .presentation-wrapper
    .pdf-container
      .controls
        button
          |previous
        button
          |next
      .canvas
        canvas

    .chat-container
      .conversation
        ul.message-container
          li.message
            .username
            .text
      .input